{"keylength":1024,
 "currency_name":"TestTaler",
 "cdd_location":"http://localhost:6789",
 "cdd_serial":1,
 "currency_divisor":100,
 "signing_date":"2014-02-09",
 "expiry_date":"2016-12-31",
 "validation_service":[[10,"http://localhost:6789"]],
 "invalidation_service":[[10,"http://localhost:6789"]],
 "info_service":[[10,"http://localhost:6789"]],
 "renewal_service":[[10,"http://localhost:6789"]],
 "denominations":[1,2,5,10,20,50,100,200,500,1000,2000,5000,10000,20000,50000],
 "additional_info":"",
 "notBefore":"2013-01-01",
 "notAfter":"2015-01-01",
 "coins_expiry_date":"2016-01-01"}
